<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="indexLanding">
<div class="container">

    <div class="jumbotron text-center">
        <div class="container">
        <div class="row">
            <div class="col-2">
        <h1>Cofee World</h1>

        <p>Start Order</p>

        <a href="/orderSystem" class="btn btn-default"><span class="fa fa-user"></span>Start an Order</a>

        <p>Barista Login</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        </div>
<div class="col-2">
    <img src="img/BeigeCoffee.png" alt="Coffee mug">

</div>
</div>
</div>
    </div>

</div>
</body>
</html>
